  <footer class="page-footer light-blue">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">{{ site.title }}</h5>
          <p class="grey-text text-lighten-4">Coming together across Alaska to organize around progressive causes and candidates.</p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
          <a class="white" href="https://twitter.com/ourrevalaska" title="Our Revolution Alaska on Twitter">Twitter</a> / <a href="https://www.facebook.com/groups/ourrevolutionak/" class="white" title="Our Revolution Alaska Facebook Group">Facebook</a>
        </div>
    </div>
</footer>