---
layout: default
---

  <div class="section banner" id="index-banner">
    <div class="container">
      <img src="{{ "assets/img/logo.png" | relative_url }}" title="Our Revolution Alaska">
    </div>
  </div>

  <div>
    <div class="container">
      <div class="row">
        <div class="col s8 intro">
          <p>
            We are <i>Our Revolution Alaska</i>, an all-volunteer group of Alaskans working to elect candidates who will strive to achieve the goals which inspired so many of us in 2016.
          </p>
          <p>
            We are organizing on a local level for putting salmon first, rapid 100% renewable energy targets, and single-payer health care. Respect and equal protection under the law for all people really means for ALL people, and not just the privileged. It means respect for indigenous peoples. It means protection from the surveillance, violence, and draconian immigration procedures of those tasked with governance. It means freedom from the clutches of poverty and inadequate medical care. It means a future for all of us and for our children.
          </p>
          <p>
            Will you help us build a movement for progressive politics in Alaska?
          </p>
        </div>
        <div class="col s4 sign-up">
           <link href='https://actionnetwork.org/css/style-embed-v3.css' rel='stylesheet' type='text/css' /><script src='https://actionnetwork.org/widgets/v3/form/join-our-revolution-alaska-2?format=js&source=widget'></script><div id='can-form-area-join-our-revolution-alaska-2' style='width: 300px'><!-- this div is the target for our HTML insertion --></div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div>
    <div class="container last-post">
      <section>
          <h5>Latest Post</h5>
          <ul class="collection">
          {% for post in site.posts %}
          <li class="collection-item avatar">
            {% assign date_format = site.minima.date_format | default: "%m/%d" %}
            <div class="date-post">{{ post.date | date: date_format }}</div>
            <span class="title"><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></span>
            <p>
               {{ post.content | truncatewords: 10 }}
            </p>
            <a href="{{ post.url | relative_url }}" class="secondary-content"><i class="material-icons">navigate_next</i></a>
          </li>
          {% endfor %}
          </ul>
      </section>
    </div>
  </div> -->